{% extends "home_base.html" %}
{% block title%}
        {{product.name}}
{% endblock%}
{%block content%}
        <div>
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'shopapp:all_categories' %}">Home</a> </li>
                      <li class="breadcrumb-item"><a href="{% url 'shopapp:cat_products' product.category.slug %}">{{ product.category }}</a></li>
                      <li class="breadcrumb-item active" aria-current="page"><span>{{ product.name }}</span></li>
                    </ol>
                  </nav>
                            </div>
        </div>

    <div class='container'>
        <div class='row mt-4'>
            <div class="col-lg-4">
                <div>
                    <img src='{{product.image.url}}' alt='{{product.name}}'/>

                </div>
            </div>
            <div class="col-lg-4">
                <div>
                    <h2>{{product.name}}</h2>
                    <h5>Rs.{{product.price}}</h5>
                    <p>Description</p>
                    <div class="description">
                        <h5>{{product.description}}</h5>
                    </div>
                    <div class="color-quality">
                        <div class="color-quality-right">
                            <h5>Quantity :</h5>
                            <div class="input-group w-auto justify-content-start align-items-start">
                                <input type="button" value="-" class="button-minus border rounded-circle  icon-shape icon-sm mx-1 " data-field="quantity">
                                <input type="number" id="product-qty" step="1" max="10" value="1" name="quantity" class="quantity-field border-0 text-center w-auto product-qty-{{product.id}}">
                                <input type="button" value="+" class="button-plus border rounded-circle icon-shape icon-sm mx-1 " data-field="quantity">
                            </div>
                        </div>
                    </div>
                    <div class="hvr-outline-out">

                        <input type="hidden" name="add" value="{{product.id}}" class="product-id-{{product.id}}">
                        <input type="hidden" name="item" value="{{product.name}}" class="product-name-{{product.id}}" >
                        <input type="hidden" name="amount" value="{{product.price}}" class="product-price-{{product.id}}">
                        <input type="hidden" name="image" value="{{product.image.url}}" class="product-image-{{product.id}}">

                        {% if product.stock > 0 %}
                        <button id="" type="submit" data-index="{{product.id}}" class="btn btn-primary btn-md active add-to-cart-button">
                            Add to Cart
                        </button>
                        {%else%}
                        <a href='{{product.get_url}}' class="btn btn-primary btn-md active" role="button" aria-pressed="true">Out of stock</a>
                        {%endif%}
                </div>

                </div>
            </div>
        </div>
    </div>
{%endblock%}
