{% extends "home_base.html" %}
{%load static%}
{%block content%}
<div class='container'>
    <h3 class="tittle-w3layouts my-lg-4 my-4">{{query}} </h3>
    <div class='row mx-auto'>
        {% for product in products%}
        <div class='bot_margin col-9 col-sm-12 col-md-4 xol-md-4'>
            <div class='card text-center' style='min-width:18rem;'>
                <a href="{{product.get_url}}"><img class='card-img-top ca-img' src='{{product.image.url}}' alt='{{product.name}}'/></a>
                <div class='card-body'>
                    <h4 class='text-justify-center'>{{product.name}}</h4>
                    <p class='text-justify-center'>{{product.price}}</p>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{% endblock %}
